* {
	box-sizing: border-box;
}

html {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

body {
	margin: 0px;
	padding: 0px;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

#main_div {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	display: grid;
	grid-template-rows: 8% 84% 8%;
	grid-template-columns: 100%;
}

#top_bar {
	background-color: gray;
	border-bottom: 2px white solid;
}

#battery_img {
	position: relative;
	display: block;
	width: 15%;
	height: 100%;
	left: 85%;
	bottom: 5%;
}

#battery_percent {
	display: block;
	top: -5%;
	position: absolute;
	font-size: calc(2vw + 1vh + 1vh);
	left: 93%;
	transform: translate(-50%, -20%); 
	color: black;
}

#battery_temp {
	display: block;
	top: 0%;
	position: absolute;
	font-size: calc(2vw + 1vh + 1vh);
	left: 82%;
	transform: translate(-85%, -20%); 
	color: black;
}

#main_screen {
	background-image: radial-gradient(grey, black);
	display: grid;
	grid-template-columns: auto 805px auto;
	position: relative;
}

#bottom_bar {
	background-color: black;
	position: relative;
	border-top: 2px white solid;
}

#main_left {
/*	background-color: black;*/
}

#vehicle_state {
	background-color: black;
	border: 2px white solid;
	width: 1000%;
	height: 40%;
	color: white;
	margin: 0px;
	padding: 0px;
}

#main_middle {
	border-left: 2px white solid;
	border-right: 2px white solid;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	display: grid;
	grid-template-rows: 26% 26% 400px;
	grid-template-columns: 100%;
}

#main_right {
	position: relative;
}

#config_button {
	width: 80px;
	border-radius: 10px;
	float: right;
}

#speed_zone {
	border-bottom: 2px white solid;
	position: relative;
}

#speedMeter {
	width: 20vw;
	height: 34vh;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	z-index: -2;
}

#speedDisplay {
	display: block;
	top: 8vh;
	position: absolute;
	font-size: calc(2vw + 1vh + 1vh);
	left: 50%;
	transform: translate(-50%, 0); 
	color: white;
}

#bar_zone {
	border-bottom: 2px white solid;
	position: relative;
}

#bar_box {
	display: block;
	width: 22vw;
	height: 14vh;
	background-color: gray;
	top: 5vh;
	left: 17vw;
	position: absolute;
}

#throttle_label {
	display: block;
	width: 0;
	height: 0;
	top: 4vh;
	left: 2vw;
	position: relative;
	font-size: calc(1vw + 1vh + 1vh);
	color: white;
}

#brake_label {
	display: block;
	width: 0;
	height: 0;
	top: 8vh;
	left: 2vw;
	position: relative;
	font-size: calc(1vw + 1vh + 1vh);
	color: white;
}

#throttle_bar {
	width: 22vw;
	height: 3vh;
	background-color: green;
	display: block;
	top: 7vh;
	left: 18vw;
	position: absolute;
}

#brake_bar {
	width: 22vw;
	height: 3vh;
	background-color: red;
	display: block;
	top: 14vh;
	left: 18vw;
	position: absolute;
}

#steering_zone {
	border-bottom: 2px white solid;
	width: 100%;
	height: 100%;
	position: relative;
}

#steering_bar {
	width: 30vw;
	height: 24vh;
	display: block;
	bottom: 0vh;
	left: 5vw;
	position: absolute;
}

#steering_notch {
	width: 6vw;
	height: 9vh;
	display: block;
	position: absolute;
	left: 17vw;
	top: 2vh;
}

#steering_display {
	display: block;
	bottom: 3vh;
	position: absolute;
	font-size: calc(2vw + 1vh + 1vh);
	left: 50%;
	transform: translate(-50%, 0); 
	color: white;
}

.icon {
	height: 100%;
	width: 4.5vw;
	margin-left: 1vw;
	float:left;
}
